{#
/**
 * @file
 * Container theme_wrapper to supply commented-out attributes around entities.
 * Comments will later be replaced by the module with divs to render this as proper html.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 *
 * @ingroup themeable
 */
#}

<!-- ACQUIA-PERZ-SLOT:{{ attributes.addClass(classes) }}-->
{{ children }}
<!-- /ACQUIA-PERZ-SLOT:{{ attributes.addClass(classes) }}-->
